.countainer{
    margin: 32px auto;
    max-width: 960px;
    height: 2000px;
}

.grid{
    display: grid;
    grid-template-columns:repeat(8,120px);
    grid-template-rows: repeat(20, 100px);
}

.titleItem{
        grid-column: 3/7;
        display: flex;
        flex-direction: column;
        align-items: center;
}
.title{
        width: 131px;
        height: 27px;
        padding: 1px 8px 2px 10px;
        margin-bottom: 5px;
        font-size: 20px;
        color: $f2eW1-seventh;
        text-align: center;
        background: $f2eW1-first;
        
}
 
.subTitle{
    font-size: 72px;
    font-weight: 900;
    color: $f2eW1-first;
    text-align: center;
}


//.menStyle_outfit
.menStyle_outfit {
   position: relative;
   grid-column: 1/span 4;
   grid-row: 3/ span 4;
   background-image: url(https://images.unsplash.com/photo-1513827379601-9dba5099a3f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1acdd78f34ee75aade9e313251bb1695&auto=format&fit=crop&w=668&q=80);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;

}

.title_outfit{
    position: absolute;
    margin: 0;
    font-size: 48px;
    line-height: 48px;        
    transform: translateY(-25%);
    &::before{
        content: "LINEN BLAZER";
        position: absolute;
        transform: translateY(-60%);
        overflow: hidden;
        color: rgba(0, 0, 0, 0.3);
        height: 24px;
    }
    &::after {
        content: "LINEN BLAZER";
        position: absolute;
        transform: translateY(-90%);
        overflow: hidden;
        color: rgba(0, 0, 0, 0.1);
        height: 24px;
        left: 0;
    }
}

.block_outfit{
    position: absolute;
    z-index: -1;
    border: 20px solid $f2eW1-second;
    width: 240px;
    height: 200px;
    bottom: 250px;
    left: 300px;
}

.subTitle_outfit{
    position: absolute;
    width: 100%;
    left: 250px;
    top: 340px;
    transform: rotate(-270deg);
    font-size: 24px;
    color: $f2eW1-first;
    text-align: center;
    font-weight: bold;
}

.number_outfit{
      position: absolute;
      top: 100%;
      font-size: 48px;
      font-weight: bold; 
}

.styleBlock_outfit{
    position: absolute;
    background: url(https://hexschool.github.io/THE_F2E_Design/week4-product%20gallery/assets/pattern%20unit.png);
     bottom: -50px;
     left: 60px;
     width: 240px;
     height: 100px;
     
}

//.menStyle_basice

.menStyle_basice{
    position: relative;
    grid-column: 6/ span 2;
    grid-row: 4/ span 2;
    background-image:url(https://images.unsplash.com/photo-1514632542677-48fae74a01b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cf412aceb1d689765e387d30fca7210a&auto=format&fit=crop&w=668&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.styleBlock_basics{
    position: absolute;
    bottom: 50px;
    left: 60px;
    z-index: -1;
    width: 240px;
    height: 200px;
    background-color:$f2eW1-second;
}
.block_basics{
    border: 20px solid $f2eW1-second;
    width: 240px;
    height: 200px;
    position: absolute;
    bottom: 100px;
    left: 120px;
    z-index: -2;
}

.title_basics{
    margin: 0;
    position: absolute;
    top: 210px;
    left: 120px;
    font-size: 48px;
    &::before {
        content: "FREELIFT";
        position: absolute;
        transform: translateY(-60%);
        overflow: hidden;
        color: rgba(0, 0, 0, 0.3);
        height: 24px;
    }

    &::after {
        content: "FREELIFT";
        position: absolute;
        transform: translateY(-90%);
        overflow: hidden;
        color: rgba(0, 0, 0, 0.1);
        height: 24px;
        left: 0;
    }
}

.number_basics {
      position: absolute;
      top: -100px;
      left: 300px;
      font-size: 48px;
      text-align: center;
      font-weight: bold;
}

.subTitle_basics{
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    top: -25px;
    left: -15px;
}

// menStyle_pattern
.menStyle_pattern {
    grid-column: 1/ span 4;
    grid-row: 9 /span 2;
    position: relative;
    background-image:url(https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a0f994eef47e5fb1a67849703cc961b3&auto=format&fit=crop&w=1650&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title_pattern {
    margin: 0;
    position: absolute;
    top: -55px;
    left: 138px;
    font-size: 48px;
    font-weight: bold;
    &::before {
        content: "SUPER SKINNY";
        position: absolute;
        transform: translateY(-60%);
        overflow: hidden;
        color: rgba(0, 0, 0, 0.3);
        height: 24px;
    }

    &::after {
        content: "SUPER SKINNY";
        position: absolute;
        transform: translateY(-90%);
        overflow: hidden;
        color: rgba(0, 0, 0, 0.1);
        height: 24px;
        left: 0;
    }
}

.block_pattern {
    border: 20px solid $f2eW1-second;
    width: 240px;
    height: 200px;
    position: absolute;
    bottom: -50px;
    left: 300px;
    z-index: -2;
}

.styleBlock_pattern {
    position: absolute;
    bottom: 50px;
    z-index: -1;
    width: 240px;
    height: 200px;
    background-color:$f2eW1-second;
}

.subTitle_pattern {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    top: 200px;
    left: 30px;
}
.number_pattern {
    position: absolute;
    top: 190px;
    left: 480px;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
}


// menStyle_cadual

.menStyle_cadual{
    grid-column: 7 / span 2;
    grid-row: 9 / span 4;
    position: relative;
    background-image:url(https://images.unsplash.com/photo-1484516758160-69878111a911?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=39466d66952b133d5a5cff642b970d05&auto=format&fit=crop&w=987&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title_cadual{
    margin: 0;
    position: absolute;
    top: 50px;
    left: -100px;
    transform: rotate(270deg);
    font-size: 48px;
    font-weight: bold;
    &::before {
        content: "DENIM";
        position: absolute;
        transform: translateY(-60%);
        overflow: hidden;
        color: rgba(0, 0, 0, 0.3);
        height: 24px;
    }

    &::after {
        content: "DENIM";
        position: absolute;
        transform: translateY(-90%);
        overflow: hidden;
        color: rgba(0, 0, 0, 0.1);
        height: 24px;
        left: 0;
    }
}

.block_cadual{
     border: 20px solid #50E3C2;
     width: 240px;
     height: 200px;
     position: absolute;
     bottom: 300px;
     left: -55px;
     z-index: -2;
}

.styleBlock_cadual {
    position: absolute;
    background: url(https://hexschool.github.io/THE_F2E_Design/week4-product%20gallery/assets/pattern%20unit.png);
    top: 350px;
    width: 240px;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
}

.number_cadual{
      position: absolute;
      top: 350px;
      left: -60px;
      font-size: 48px;
      text-align: center;
      font-weight: bold;
}

.subTitle_cadual{
     position: absolute;
     font-size: 24px;
     font-weight: bold;
     top: -90px;
     right: -10px;
     transform: rotate(90deg);
}

// menStyle_jacket

.menStyle_jacket{
    grid-column: 3/span 2;
    grid-row: 13/span 2;
    position: relative;
    background-image:url(https://images.unsplash.com/photo-1525448198276-222de3961638?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=43fb25556cdbd191e520c7f28739e40d&auto=format&fit=crop&w=1650&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotateY(-180deg);
}

.title_jacket{
    margin: 0;
    position: absolute;
    top: 50px;
    left: 150px;
    transform: rotateY(180deg);
    font-size: 48px;
    font-weight: bold;
    &::before {
        content: "SWEATSHIRTS";
        position: absolute;
        transform: translateY(-60%);
        overflow: hidden;
        color: rgba(0, 0, 0, 0.3);
        height: 24px;
    }

    &::after {
        content: "SWEATSHIRTS";
        position: absolute;
        transform: translateY(-90%);
        overflow: hidden;
        color: rgba(0, 0, 0, 0.1);
        height: 24px;
        left: 0;
    }
}

.styleBlock_jacket{
     position: absolute;
     background: url(https://hexschool.github.io/THE_F2E_Design/week4-product%20gallery/assets/pattern%20unit.png);
     top: -50px;
     left: 160px;
     width: 240px;
     height: 100px;
     background-position: center;
     background-size: contain;
     background-repeat: repeat;
     transform: rotateY(180deg);
}

.block_jacket{
    border: 20px solid #50E3C2;
    width: 240px;
    height: 100px;
    position: relative;
    top: 67%;
    right: 605px;
    z-index: -1;
}

.number_jacket{
        position: absolute;
        transform: rotateY(180deg);
        top: 135px;
        right: -125px;
        font-size: 48px;
        text-align: center;
        font-weight: bold;
}

.subTitle_jacket{
     position: absolute;
     font-size: 24px;
     font-weight: bold;
     left: -135px;
     transform: rotateY(180deg);
}

// menStyle_classic
.menStyle_classic{
  grid-column: -5 /span 4;
  grid-row: -7 / span 4;
  position: relative;
  background-image:url(https://images.unsplash.com/photo-1519406709381-c1f293304b28?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=98c497a29f229085d9574ee8b6eeef8c&auto=format&fit=crop&w=668&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title_classic{
     margin: 0;
     position: absolute;
     top: -55px;
     right: 2px;
     font-size: 48px;
     font-weight: bold;
     &::before {
         content: "VINTAGE DENIM";
         position: absolute;
         transform: translateY(-60%);
         overflow: hidden;
         color: rgba(0, 0, 0, 0.3);
         height: 24px;
     }

     &::after {
         content: "VINTAGE DENIM";
         position: absolute;
         transform: translateY(-90%);
         overflow: hidden;
         color: rgba(0, 0, 0, 0.1);
         height: 24px;
         left: 0;
     }
}

 .styleBlock_classic {
    position: absolute;
    bottom: -2px;
    right: 300px;
    z-index: -1;
    width: 240px;
    height: 200px;
    background-color: $f2eW1-second;
}

.block_classic {
    border: 20px solid $f2eW1-second;
    width: 480px;
    height: 200px;
    position: absolute;
    bottom: -50px;
    left: -2px;
    z-index: -1;
}

.number_classic{
      position: absolute;
      top: 140px;
      left: -60px;
      font-size: 48px;
      text-align: center;
      font-weight: bold;
}

.subTitle_classic{
     position: absolute;
     font-size: 24px;
     font-weight: bold;
     left: 50%;
     top: 100%;
     transform: translateX(-50%);
}

// menStyle_shirts

.menStyle_shirts{
    grid-column: 1 / span 2;
    grid-row: -5 / span 4;
    position: relative;
    background-image:url(https://images.unsplash.com/photo-1516914943479-89db7d9ae7f2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=63ff45d79414b3166b08b800a32018be&auto=format&fit=crop&w=668&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title_shirts{
    margin: 0;
    position: absolute;
    transform: rotate(90deg);
    top: 60px;
    right: -120px;
    font-size: 48px;
    font-weight: bold;
    &::before {
        content: "EDITION";
        position: absolute;
        transform: translateY(-60%);
        overflow: hidden;
        color: rgba(0, 0, 0, 0.3);
        height: 24px;
    }

    &::after {
        content: "EDITION";
        position: absolute;
        transform: translateY(-90%);
        overflow: hidden;
        color: rgba(0, 0, 0, 0.1);
        height: 24px;
        left: 0;
    }
}

.styleBlock_shirts{
    position: absolute;
    bottom: 2px;
    left: 120px;
    z-index: -1;
    width: 240px;
    height: 200px;
    background-color: $f2eW1-second;
}

.block_shirts {
    border: 20px solid $f2eW1-second;
    width: 400px;
    height: 240px;
    position: absolute;
    left: -30px;
    transform: rotate(90deg);
    z-index: -1;
}

.number_shirts{
    position: absolute;
    top: 345px;
    right: -120px;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
}

.subTitle_shirts {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    left: 65px;
    top: -25px;
    transform: translateX(-50%);
}