extends _layout.jade

block wapper
  #wapper
    .countainer.grid
      .titleItem
        .title CCCLOTHES
        .subTitle MEN'S TOPS

      .menStyle_outfit
        h2.title_outfit LINEN BLAZER
        .block_outfit
        .number_outfit 01
        .styleBlock_outfit
        i.subTitle_outfit Men's outfit

      //- .menStyle2
      //-   .title2 FREELIFT
      //-   .img2
      //-   .block2
      //-   .number2 02
      //-   .styleBlock2
      //-   .subTitle2 Men's basics

      //- .menStyle3
      //-   .title3 SUPER SKINNY
      //-   .img3
      //-   .block3
      //-   .number3 03
      //-   .styleBlock3
      //-   .subTitle3 Men's pattern shirts

      //- .menStyle4
      //-   .title4 DENIM
      //-   .img4
      //-   .block4
      //-   .number4 04
      //-   .styleBlock4
      //-   .subTitle4 Men's cadual

      //- .menStyle5
      //-   .title5 SWEATSHIRTS
      //-   .img5
      //-   .block5
      //-   .number5 05
      //-   .styleBlock5
      //-   .subTitle5 Men's jacket
      
      //- .menStyle6
      //-   .title6 VINTAGE DENIM
      //-   .img6
      //-   .block6
      //-   .number6 06
      //-   .styleBlock6
      //-   .subTitle6 Men's classic

      //- .menStyle7
      //-   .title7 EDITION
      //-   .img7
      //-   .block7
      //-   .number7 07
      //-   .styleBlock7
      //-   .subTitle7 Men's shirts
      


        
    