extends _layout.jade

block wapper
  #wapper
    .countainer.grid
      .titleItem
        .title CCCLOTHES
        .subTitle MEN'S TOPS

      .menStyle_outfit
        h2.title_outfit LINEN BLAZER
        .block_outfit
        .number_outfit 01
        .styleBlock_outfit
        i.subTitle_outfit Men's outfit

      .menStyle_basice
        h2.title_basics FREELIFT
        .styleBlock_basics
        .block_basics
        .number_basics 02
        i.subTitle_basics Men's basics

      .menStyle_pattern
        h2.title_pattern SUPER SKINNY
        .block_pattern
        .number_pattern 03
        .styleBlock_pattern
        i.subTitle_pattern Men's pattern shirts

      .menStyle_cadual
        h2.title_cadual DENIM
        .block_cadual
        .number_cadual 04
        .styleBlock_cadual 
        i.subTitle_cadual Men's cadual

     
      .menStyle_jacket
        h2.title_jacket SWEATSHIRTS
        .number_jacket 05
        .styleBlock_jacket
        i.subTitle_jacket Men's jacket
      .block_jacket
      
      
      .menStyle_classic
        h2.title_classic VINTAGE DENIM
        .block_classic
        .number_classic 06
        .styleBlock_classic
        i.subTitle_classic Men's classic

      .menStyle_shirts
        h2.title_shirts EDITION
        .block_shirts
        .number_shirts 07
        .styleBlock_shirts
        i.subTitle_shirts Men's shirts
      


        
    